@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .custom-width {
      width: calc(100vw - 300px);
    }
  }
@layer utilities {
    .custom-gradient {
      background-image: linear-gradient(#418CD1, #9C41D1);
    }
  }
  .active {
    background-color: #5e8fd6;
    border-radius: 8px; 
  }